/* add css module styles here (optional) */
@import 'katex/dist/katex.min.css';
@import '@edtr-io/mathquill/build/mathquill.css';
@import 'mathquill4quill/mathquill4quill.css';
@import 'react-quill/dist/quill.snow.css';

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}
